@using BLL.DTO.Entities
@using Utils
@using WebApp.Controllers
@using WebApp.Utils
@using WebApp.ViewModels.Shared
@model WebApp.ViewModels.Route.SearchModel

@{
    ViewData["Title"] = "Routes";
}

<form method="get" asp-action="Index">
    <input asp-for="From" type="search" placeholder="From..."/>
    <input asp-for="To" type="search" placeholder="To..."/>
    <input asp-for="Company" type="search" placeholder="Company..."/>
    @WebUtils.GetSortingFormSection(Model)
    @WebUtils.GetPaginationFormSection(Model)
    <input type="submit" class="btn btn-primary"/>
</form>

<partial name="_PaginationUiPartial" model="@PaginationViewModel"/>

<table class="table">
    <thead>
    <tr>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            <partial name="_SortHeader" model="new SortHeaderModel(nameof(LegProviderSummary.Departure), Model.ToQueryStringValues, Model.SortBy)"/>
        </th>
        <th>
            <partial name="_SortHeader" model="new SortHeaderModel(nameof(LegProviderSummary.Arrival), Model.ToQueryStringValues, Model.SortBy)"/>
        </th>
        <th>
            <partial name="_SortHeader" model="@(new SortHeaderModel(nameof(LegProviderSummary.TravelTime), Model.ToQueryStringValues, Model.SortBy, "Travel time"))"/>
        </th>
        <th>
            <partial name="_SortHeader" model="new SortHeaderModel(nameof(LegProviderSummary.Price), Model.ToQueryStringValues, Model.SortBy)"/>
        </th>
        <th>
            <partial name="_SortHeader" model="new SortHeaderModel(nameof(LegProviderSummary.Distance), Model.ToQueryStringValues, Model.SortBy)"/>
        </th>
        <th>
            Company
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Results != null)
    {
        @foreach (var summary in Model.Results)
        {
            <tr>
                <td>
                    @summary.StartLocation
                </td>
                <td>
                    @summary.EndLocation
                </td>
                <td>
                    @summary.Departure.ToSpan(Context)
                </td>
                <td>
                    @summary.Arrival.ToSpan(Context)
                </td>
                <td>
                    @FormattingUtils.FormatTimeSpan(summary.Arrival - summary.Departure)
                </td>
                <td>
                    @summary.Price
                </td>
                <td>
                    @summary.Distance km
                </td>
                <td>
                    @summary.CompanyName
                </td>
                <td>
                    @if (summary.ValidUntil < DateTime.UtcNow)
                    {
                        <span class="text-danger">Offer expired!</span>
                    } else if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <a asp-controller="Reservations" asp-action="Create" asp-route-legProviderId="@summary.Id" class="btn btn-primary">Reserve</a>
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>

@functions
{
    PaginationUiPartialViewModel PaginationViewModel => new()
    {
        ControllerName = nameof(RouteController),
        ActionName = nameof(RouteController.Index),
        RouteValues = Context.GetRouteValues(),
        Page = Model.Page,
        Limit = Model.Limit,
        Total = null,
        AmountOnPage = Model.Results?.Count ?? 0,
    };
}
